<div class="page-header">
  <h3>Document #<%= @document.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Signature date</dt>
      <dd><%= @document.signature_date %></dd>

      <dt>Signature</dt>
      <dd><%= @document.signature %></dd>

      <dt>Home</dt>
      <dd><%= @document.home_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/documents" class="btn btn-primary">
        Back
      </a>
      <a href="/documents/<%= @document.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_document/<%= @document.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
