<div class="page-header">
  <h3>Document #<%= @document.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Signature date</dt>
      <dd><%= @document.signature_date %></dd>

      <dt>Signature</dt>
      <dd><%= @document.signature %></dd>

      <dt>Home</dt>
      <dd>
        <% if @document.home.present? %>
          <a href="/homes/<%= @document.home_id %>">
            <%= @document.home.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/documents" class="btn btn-primary">
        Back
      </a>
      <a href="/documents/<%= @document.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_document/<%= @document.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Document has many user -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User
      </li>

      <% @document.user.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
