<div class="page-header">
  <h1>
    Homes
    <a href="/homes/new" class="btn btn-lg btn-success">New Home</a>
  </h1>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Asking price</th>
        <th>Seller notes</th>
        <th>Location</th>
        <th>User</th>
        <th>Showing schedule</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Squarefeet</th>
        <th>Acres</th>
        <th>Style</th>
        <th>Year built</th>
        <th>Actions</th>
      </tr>

      <% @homes.each do |home| %>
      <tr>
        <td><img src='<%= home.image %>' class='img-responsive'></td>
        <td><%= home.asking_price %></td>
        <td><%= home.seller_notes %></td>
        <td><%= home.location %></td>
        <td><%= home.user.created_at %></td>
        <td><%= home.showing_schedule %></td>
        <td><%= home.bedrooms %></td>
        <td><%= home.bathrooms %></td>
        <td><%= home.squarefeet %></td>
        <td><%= home.acres %></td>
        <td><%= home.style %></td>
        <td><%= home.year_built %></td>
        <td>
          <a href="/homes/<%= home.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == home.user %>
            <a href="/homes/<%= home.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_home/<%= home.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>