<div class="page-header">
  <h3>Home #<%= @home.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><img src="<%= @home.image %>" class="img-responsive"></dd>

      <dt>Asking price</dt>
      <dd><%= @home.asking_price %></dd>

      <dt>Seller notes</dt>
      <dd><%= @home.seller_notes %></dd>

      <dt>Location</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @home.user.present? %>
          <a href="/users/<%= @home.user_id %>">
            <%= @home.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Showing schedule</dt>
      <dd><%= @home.showing_schedule %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @home.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @home.bathrooms %></dd>

      <dt>Squarefeet</dt>
      <dd><%= @home.squarefeet %></dd>

      <dt>Acres</dt>
      <dd><%= @home.acres %></dd>

      <dt>Style</dt>
      <dd><%= @home.style %></dd>

      <dt>Year built</dt>
      <dd><%= @home.year_built %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/homes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @home.user %>
        <a href="/homes/<%= @home.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_home/<%= @home.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Home has many documents -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Documents
      </li>

      <% @home.documents.each do |document| %>
        <li class="list-group-item">
          <a href="/documents/<%= document.id %>">
            <%= document.signature_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/documents/<%= document.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/documents/<%= document.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_document/<%= document.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_document" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for signature_date -->
      <div class="form-group">
        <label for="signature_date" class="control-label">
          Signature date
        </label>

        <input type="text" id="signature_date" name="signature_date" placeholder="Signature date" class="form-control" value="">
      </div>

      <!-- Label and input for signature -->
      <div class="form-group">
        <label for="signature" class="control-label">
          Signature
        </label>

        <input type="text" id="signature" name="signature" placeholder="Signature" class="form-control" value="">
      </div>

      <!-- Label and input for home_id -->
      <input type="hidden" name="home_id" value="<%= @home.id %>">

      <button class="btn btn-block btn-success">
        Create Document
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @home.location_latitude %>,
        "lng": <%= @home.location_longitude %>,
        "infowindow": "<h5><%= @home.created_at %></h5><small><%= @home.location_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>