<div class="page-header">
  <h3>Home #<%= @home.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><img src="<%= @home.image %>" class="img-responsive"></dd>

      <dt>Asking price</dt>
      <dd><%= @home.asking_price %></dd>

      <dt>Seller notes</dt>
      <dd><%= @home.seller_notes %></dd>

      <dt>Location</dt>
      <dd><%= @home.location %></dd>

      <dt>User</dt>
      <dd><%= @home.user_id %></dd>

      <dt>Showing schedule</dt>
      <dd><%= @home.showing_schedule %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @home.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @home.bathrooms %></dd>

      <dt>Squarefeet</dt>
      <dd><%= @home.squarefeet %></dd>

      <dt>Acres</dt>
      <dd><%= @home.acres %></dd>

      <dt>Style</dt>
      <dd><%= @home.style %></dd>

      <dt>Year built</dt>
      <dd><%= @home.year_built %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/homes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @home.user %>
        <a href="/homes/<%= @home.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_home/<%= @home.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Home has many documents -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Documents
      </li>

      <% @home.documents.each do |document| %>
        <li class="list-group-item">
          <a href="/documents/<%= document.id %>">
            <%= document.signature_date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/documents/<%= document.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/documents/<%= document.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_document/<%= document.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
